USE [promptcrm]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[IdAddress] [int] IDENTITY(1,1) NOT NULL,
	[Directions1] [varchar](80) NOT NULL,
	[Directions2] [varchar](50) NULL,
	[zipCode] [varchar](10) NULL,
	[Geolocation] [geography] NULL,
	[IdCity] [int] NOT NULL,
 CONSTRAINT [PK_PCRAddresses] PRIMARY KEY CLUSTERED 
(
	[IdAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[IdCity] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NOT NULL,
	[IdState] [int] NOT NULL,
 CONSTRAINT [PK_PCRCities] PRIMARY KEY CLUSTERED 
(
	[IdCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[IdClient] [int] IDENTITY(1,1) NOT NULL,
	[ClientCode] [varchar](30) NOT NULL,
	[IdStatus] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PCRClients] PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientStatuses]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientStatuses](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[StatusDescription] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRClientStates] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[IdCountry] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](30) NOT NULL,
 CONSTRAINT [PK_PCRCountries] PRIMARY KEY CLUSTERED 
(
	[IdCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[IdEvent] [int] IDENTITY(1,1) NOT NULL,
	[IdEventType] [int] NOT NULL,
	[EventRefID] [varchar](20) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[IdLead] [int] NOT NULL,
	[IdUTM] [int] NOT NULL,
 CONSTRAINT [PK_PCREvents] PRIMARY KEY CLUSTERED 
(
	[IdEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventTypes]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventTypes](
	[IdEventType] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCREventTypes] PRIMARY KEY CLUSTERED 
(
	[IdEventType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeaturesPerClients]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeaturesPerClients](
	[IdClient] [int] NOT NULL,
	[IdFeatureType] [int] NOT NULL,
	[FeatureValue] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeaturesPerLeads]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeaturesPerLeads](
	[IdLead] [int] NOT NULL,
	[IdFeatureType] [int] NOT NULL,
	[FeatureValue] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeatureTypes]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeatureTypes](
	[IdFeatureType] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRFeatureTypes] PRIMARY KEY CLUSTERED 
(
	[IdFeatureType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leads](
	[IdLead] [int] IDENTITY(1,1) NOT NULL,
	[LeadCode] [varchar](20) NOT NULL,
	[IdCampaign] [int] NOT NULL,
	[IdStatus] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRLeads] PRIMARY KEY CLUSTERED 
(
	[IdLead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeadStatuses]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeadStatuses](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[StatusDescription] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRLeadStatuses] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogLevels]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogLevels](
	[IdLevel] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRLogLevels] PRIMARY KEY CLUSTERED 
(
	[IdLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[LogDescription] [varchar](50) NOT NULL,
	[RefID] [bigint] NOT NULL,
	[Checksum] [varbinary](30) NOT NULL,
	[IdType] [int] NOT NULL,
	[IdLevel] [int] NOT NULL,
	[IdSource] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[Computer] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_PCRLogs] PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogSources]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogSources](
	[IdSource] [int] IDENTITY(1,1) NOT NULL,
	[SourceDescription] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PCRLogSources] PRIMARY KEY CLUSTERED 
(
	[IdSource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogTypes]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogTypes](
	[IdType] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRLogTypes] PRIMARY KEY CLUSTERED 
(
	[IdType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[IdPaymentMethod] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [varchar](20) NOT NULL,
	[Description] [varchar](60) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRPaymentMethods] PRIMARY KEY CLUSTERED 
(
	[IdPaymentMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransactions]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransactions](
	[IdPaymentTransaction] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](16, 2) NOT NULL,
	[IdPaymentMethod] [int] NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[IdType] [int] NOT NULL,
	[Computer] [varchar](20) NOT NULL,
	[IdUser] [int] NOT NULL,
	[Checksum] [varbinary](32) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PCRTransactions] PRIMARY KEY CLUSTERED 
(
	[IdPaymentTransaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransactionTypes]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransactionTypes](
	[IdType] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRTransactionTypes] PRIMARY KEY CLUSTERED 
(
	[IdType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[IdPermission] [int] IDENTITY(1,1) NOT NULL,
	[PermissionDescription] [varchar](50) NOT NULL,
	[PermissionCode] [varchar](10) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRPermissions] PRIMARY KEY CLUSTERED 
(
	[IdPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionsPerRoles]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionsPerRoles](
	[IdRole] [int] NOT NULL,
	[IdPermission] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionsPerUsers]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionsPerUsers](
	[IdUser] [int] NOT NULL,
	[IdPermission] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesPerUsers]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesPerUsers](
	[IdUser] [int] NOT NULL,
	[IdRole] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleDetails]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetails](
	[IdDetail] [int] NOT NULL,
	[DetailDescription] [varchar](30) NOT NULL,
	[DetailValue] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[IdSale] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesHistory]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesHistory](
	[IdSale] [int] IDENTITY(1,1) NOT NULL,
	[IdClient] [int] NOT NULL,
	[SaleTotal] [decimal](16, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Checksum] [int] NOT NULL,
	[IdUTM] [int] NOT NULL,
 CONSTRAINT [PK_PCRSalesHistory] PRIMARY KEY CLUSTERED 
(
	[IdSale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[IdState] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](30) NOT NULL,
	[IdCountry] [int] NOT NULL,
 CONSTRAINT [PK_PCRStates] PRIMARY KEY CLUSTERED 
(
	[IdState] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionFeatures]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionFeatures](
	[IdFeature] [int] IDENTITY(1,1) NOT NULL,
	[FeatureDescription] [varchar](50) NOT NULL,
	[Value] [varchar](20) NOT NULL,
	[FeatureCode] [varchar](10) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRSubscriptionFeatures] PRIMARY KEY CLUSTERED 
(
	[IdFeature] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionFeaturesPerTiers]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionFeaturesPerTiers](
	[IdTier] [int] NOT NULL,
	[IdFeature] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionFeaturesPerUsers]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionFeaturesPerUsers](
	[IdUser] [int] NOT NULL,
	[IdFeature] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[IdSubscription] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdTier] [int] NOT NULL,
 CONSTRAINT [PK_PCRSubscriptions] PRIMARY KEY CLUSTERED 
(
	[IdSubscription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionTiers]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionTiers](
	[IdTier] [int] IDENTITY(1,1) NOT NULL,
	[TierName] [varchar](20) NOT NULL,
	[TierDescription] [varchar](80) NOT NULL,
	[Pricing] [decimal](16, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRSubscriptionTiers] PRIMARY KEY CLUSTERED 
(
	[IdTier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRUserRoles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](40) NOT NULL,
	[LastName] [varchar](40) NOT NULL,
	[Email] [varchar](50) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[SSN] [varbinary](max) NULL,
	[IdAddress] [int] NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](36) NOT NULL,
	[LastLogin] [datetime] NOT NULL,
	[Checksum] [varbinary](32) NOT NULL,
	[IdStatus] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PCRUsers] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStatuses]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStatuses](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[StatusDescription] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRUserStatuses] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UTMData]    Script Date: 11/26/2025 12:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTMData](
	[IdUTM] [int] IDENTITY(1,1) NOT NULL,
	[UTMSource] [varchar](max) NOT NULL,
	[UTMMedium] [varchar](max) NOT NULL,
	[UTMCampaign] [varchar](max) NOT NULL,
	[UTMTerm] [varchar](max) NULL,
	[UTMContent] [varchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PCRUTMData] PRIMARY KEY CLUSTERED 
(
	[IdUTM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_PCRAddresses_PCRCities] FOREIGN KEY([IdCity])
REFERENCES [dbo].[Cities] ([IdCity])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_PCRAddresses_PCRCities]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_PCRCities_PCRStates] FOREIGN KEY([IdState])
REFERENCES [dbo].[States] ([IdState])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_PCRCities_PCRStates]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_PCRClients_PCRClientStates] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[ClientStatuses] ([IdStatus])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_PCRClients_PCRClientStates]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_PCREvents_PCREventTypes] FOREIGN KEY([IdEventType])
REFERENCES [dbo].[EventTypes] ([IdEventType])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_PCREvents_PCREventTypes]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_PCREvents_PCRLeads] FOREIGN KEY([IdLead])
REFERENCES [dbo].[Leads] ([IdLead])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_PCREvents_PCRLeads]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_PCREvents_PCRUTMData] FOREIGN KEY([IdUTM])
REFERENCES [dbo].[UTMData] ([IdUTM])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_PCREvents_PCRUTMData]
GO
ALTER TABLE [dbo].[FeaturesPerClients]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerClients_PCRClients] FOREIGN KEY([IdClient])
REFERENCES [dbo].[Clients] ([IdClient])
GO
ALTER TABLE [dbo].[FeaturesPerClients] CHECK CONSTRAINT [FK_PCRFeaturesPerClients_PCRClients]
GO
ALTER TABLE [dbo].[FeaturesPerClients]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerClients_PCRFeatureTypes] FOREIGN KEY([IdFeatureType])
REFERENCES [dbo].[FeatureTypes] ([IdFeatureType])
GO
ALTER TABLE [dbo].[FeaturesPerClients] CHECK CONSTRAINT [FK_PCRFeaturesPerClients_PCRFeatureTypes]
GO
ALTER TABLE [dbo].[FeaturesPerLeads]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerLeads_PCRFeatureTypes] FOREIGN KEY([IdFeatureType])
REFERENCES [dbo].[FeatureTypes] ([IdFeatureType])
GO
ALTER TABLE [dbo].[FeaturesPerLeads] CHECK CONSTRAINT [FK_PCRFeaturesPerLeads_PCRFeatureTypes]
GO
ALTER TABLE [dbo].[FeaturesPerLeads]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerLeads_PCRLeads] FOREIGN KEY([IdLead])
REFERENCES [dbo].[Leads] ([IdLead])
GO
ALTER TABLE [dbo].[FeaturesPerLeads] CHECK CONSTRAINT [FK_PCRFeaturesPerLeads_PCRLeads]
GO
ALTER TABLE [dbo].[Leads]  WITH CHECK ADD  CONSTRAINT [FK_PCRLeads_PCRLeadStatuses] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[LeadStatuses] ([IdStatus])
GO
ALTER TABLE [dbo].[Leads] CHECK CONSTRAINT [FK_PCRLeads_PCRLeadStatuses]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_PCRLogs_PCRLogLevels] FOREIGN KEY([IdLevel])
REFERENCES [dbo].[LogLevels] ([IdLevel])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_PCRLogs_PCRLogLevels]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_PCRLogs_PCRLogSources] FOREIGN KEY([IdSource])
REFERENCES [dbo].[LogSources] ([IdSource])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_PCRLogs_PCRLogSources]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_PCRLogs_PCRLogTypes] FOREIGN KEY([IdType])
REFERENCES [dbo].[LogTypes] ([IdType])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_PCRLogs_PCRLogTypes]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_PCRLogs_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_PCRLogs_PCRUsers]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PCRPaymentTransactions_PCRPaymentMethods] FOREIGN KEY([IdPaymentMethod])
REFERENCES [dbo].[PaymentMethods] ([IdPaymentMethod])
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PCRPaymentTransactions_PCRPaymentMethods]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PCRTransactions_PCRTransactionTypes] FOREIGN KEY([IdType])
REFERENCES [dbo].[PaymentTransactionTypes] ([IdType])
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PCRTransactions_PCRTransactionTypes]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PCRTransactions_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PCRTransactions_PCRUsers]
GO
ALTER TABLE [dbo].[PermissionsPerRoles]  WITH CHECK ADD  CONSTRAINT [FK_PCRPermissionsPerRoles_PCRPermissions] FOREIGN KEY([IdPermission])
REFERENCES [dbo].[Permissions] ([IdPermission])
GO
ALTER TABLE [dbo].[PermissionsPerRoles] CHECK CONSTRAINT [FK_PCRPermissionsPerRoles_PCRPermissions]
GO
ALTER TABLE [dbo].[PermissionsPerRoles]  WITH CHECK ADD  CONSTRAINT [FK_PCRPermissionsPerRoles_PCRUserRoles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[UserRoles] ([IdRole])
GO
ALTER TABLE [dbo].[PermissionsPerRoles] CHECK CONSTRAINT [FK_PCRPermissionsPerRoles_PCRUserRoles]
GO
ALTER TABLE [dbo].[PermissionsPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRPermissionsPerUsers_PCRPermissions] FOREIGN KEY([IdPermission])
REFERENCES [dbo].[Permissions] ([IdPermission])
GO
ALTER TABLE [dbo].[PermissionsPerUsers] CHECK CONSTRAINT [FK_PCRPermissionsPerUsers_PCRPermissions]
GO
ALTER TABLE [dbo].[PermissionsPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRPermissionsPerUsers_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[PermissionsPerUsers] CHECK CONSTRAINT [FK_PCRPermissionsPerUsers_PCRUsers]
GO
ALTER TABLE [dbo].[RolesPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRRolesPerUsers_PCRUserRoles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[UserRoles] ([IdRole])
GO
ALTER TABLE [dbo].[RolesPerUsers] CHECK CONSTRAINT [FK_PCRRolesPerUsers_PCRUserRoles]
GO
ALTER TABLE [dbo].[RolesPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRRolesPerUsers_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[RolesPerUsers] CHECK CONSTRAINT [FK_PCRRolesPerUsers_PCRUsers]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_PCRSaleDetails_PCRSalesHistory] FOREIGN KEY([IdSale])
REFERENCES [dbo].[SalesHistory] ([IdSale])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_PCRSaleDetails_PCRSalesHistory]
GO
ALTER TABLE [dbo].[SalesHistory]  WITH CHECK ADD  CONSTRAINT [FK_PCRSalesHistory_PCRClients] FOREIGN KEY([IdClient])
REFERENCES [dbo].[Clients] ([IdClient])
GO
ALTER TABLE [dbo].[SalesHistory] CHECK CONSTRAINT [FK_PCRSalesHistory_PCRClients]
GO
ALTER TABLE [dbo].[SalesHistory]  WITH CHECK ADD  CONSTRAINT [FK_PCRSalesHistory_PCRUTMData] FOREIGN KEY([IdUTM])
REFERENCES [dbo].[UTMData] ([IdUTM])
GO
ALTER TABLE [dbo].[SalesHistory] CHECK CONSTRAINT [FK_PCRSalesHistory_PCRUTMData]
GO
ALTER TABLE [dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_PCRStates_PCRCountries] FOREIGN KEY([IdCountry])
REFERENCES [dbo].[Countries] ([IdCountry])
GO
ALTER TABLE [dbo].[States] CHECK CONSTRAINT [FK_PCRStates_PCRCountries]
GO
ALTER TABLE [dbo].[SubscriptionFeaturesPerTiers]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerTiers_PCRSubscriptionFeatures] FOREIGN KEY([IdFeature])
REFERENCES [dbo].[SubscriptionFeatures] ([IdFeature])
GO
ALTER TABLE [dbo].[SubscriptionFeaturesPerTiers] CHECK CONSTRAINT [FK_PCRFeaturesPerTiers_PCRSubscriptionFeatures]
GO
ALTER TABLE [dbo].[SubscriptionFeaturesPerTiers]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerTiers_PCRSubscriptionTiers] FOREIGN KEY([IdTier])
REFERENCES [dbo].[SubscriptionTiers] ([IdTier])
GO
ALTER TABLE [dbo].[SubscriptionFeaturesPerTiers] CHECK CONSTRAINT [FK_PCRFeaturesPerTiers_PCRSubscriptionTiers]
GO
ALTER TABLE [dbo].[SubscriptionFeaturesPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerUsers_PCRSubscriptionFeatures] FOREIGN KEY([IdFeature])
REFERENCES [dbo].[SubscriptionFeatures] ([IdFeature])
GO
ALTER TABLE [dbo].[SubscriptionFeaturesPerUsers] CHECK CONSTRAINT [FK_PCRFeaturesPerUsers_PCRSubscriptionFeatures]
GO
ALTER TABLE [dbo].[SubscriptionFeaturesPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerUsers_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[SubscriptionFeaturesPerUsers] CHECK CONSTRAINT [FK_PCRFeaturesPerUsers_PCRUsers]
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_PCRSubscriptions_PCRSubscriptionTiers] FOREIGN KEY([IdTier])
REFERENCES [dbo].[SubscriptionTiers] ([IdTier])
GO
ALTER TABLE [dbo].[Subscriptions] CHECK CONSTRAINT [FK_PCRSubscriptions_PCRSubscriptionTiers]
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_PCRSubscriptions_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Subscriptions] CHECK CONSTRAINT [FK_PCRSubscriptions_PCRUsers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_PCRUsers_PCRAddresses] FOREIGN KEY([IdAddress])
REFERENCES [dbo].[Addresses] ([IdAddress])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_PCRUsers_PCRAddresses]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_PCRUsers_PCRUserStatuses] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[UserStatuses] ([IdStatus])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_PCRUsers_PCRUserStatuses]
GO
